version: '3.8'

services:
  postgres:
    image: postgres:16
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: tantuka_user
      POSTGRES_PASSWORD: tantuka_password
      POSTGRES_DB: tantuka_db
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
